{% for avaliacao in avaliacoes_recentes %}
<tr>
    <td>{{ avaliacao.bairro.nome }}</td>
    <td>
        <span class="badge {% if avaliacao.nota <= 2 %}bg-danger{% elif avaliacao.nota <= 4 %}bg-warning{% elif avaliacao.nota <= 6 %}bg-info{% else %}bg-success{% endif %}">
            {{ avaliacao.nota }}
        </span>
    </td>
    <td>
        Avaliado por <b>{{ avaliacao.usuario.username }}</b>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3" class="text-center">Nenhuma avaliação encontrada</td>
</tr>
{% endfor %} 